#banner{
    height: 418px;
}

#features{
    flex-direction: column;
    margin: 5px;
}

.box-front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form{
    width: 82%;
    margin-left: 3px;
}

input, textarea{
    width: 95%;
}

@media screen and (max-width:500px) {
    #navbar{
        flex-direction: column;
    }
    .burger{
        display: block;
    }
    #nav-list{
        flex-direction: column;
    }
    .list-item{
        margin: 10px;
    }
    #logo {
        width: 15%;
        display: block;
        position: absolute;
        right: 5%;
        top: 0px;
        height: 54px;
    }
    .h-nav{
        height: 57px;
    }
    .v-nav{
        opacity: 0;
    }
    .box-front img{
        height: 200px;
        width: 96%;
    }
}